stages:
  - Generate
  - Execute
  - Package
  - Release

variables:
  GIT_CLEAN_FLAGS: none

"Zip Examples":
  stage: Package
  needs: []
  tags:
    - redpoint-games-windows
  parallel:
    matrix:
      - ZIP_FOLDER:
          - ClangTidy
          - EOS_CPlusPlus
          - GMF
          - MM_SimpleBP
          - MM_SimpleCPP
          - OSB_EpicEOS
          - OSB_LoginUI
          - OSB_Null
          - OSB_RedpointEOS
          - OSB_Steam
          - RSI
  script: |
    # Compress
    Push-Location $env:ZIP_FOLDER
    git clean -xdff
    if ($LastExitCode -ne 0) {
      exit $LastExitCode
    }
    git reset --hard HEAD
    if ($LastExitCode -ne 0) {
      exit $LastExitCode
    }
    Pop-Location
    if (!(Test-Path Zips)) {
      New-Item -ItemType Directory -Path Zips
    }
    Compress-Archive -Path $env:ZIP_FOLDER -Destination "Zips/$env:ZIP_FOLDER.zip" -Force

    # Upload
    $env:B2_ACCOUNT_INFO = Join-Path -Path (Resolve-Path -Path ".") -ChildPath ".b2.db"
    try {
      b2 authorize-account "$env:DL_BACKBLAZE_B2_KEY_ID" "$env:DL_BACKBLAZE_B2_APPLICATION_KEY"
      if ($LASTEXITCODE -ne 0) {
        exit $LASTEXITCODE
      }
      b2 upload-file dl-redpoint-games "Zips/$ZIP_FOLDER.zip" "example-zips/$CI_COMMIT_SHA/$ZIP_FOLDER.zip"
      if ($LASTEXITCODE -ne 0) {
        exit $LASTEXITCODE
      }
    } finally {
      if (Test-Path $env:B2_ACCOUNT_INFO) {
        Write-Output "Cleaning up B2 authentication file..."
        Remove-Item -Force -Path $env:B2_ACCOUNT_INFO
      }
    }
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline"'
      
"Release Examples":
  stage: Release
  needs:
    - job: "Zip Examples"
      artifacts: false
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  tags:
    - redpoint-games-docker
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline"'
  script: |
    echo "Bundling the examples into a release..."
  release:
    name: 'Example Projects at $CI_COMMIT_TIMESTAMP'
    tag_name: 'snapshot-$CI_COMMIT_SHORT_SHA'
    description: |
      This is an automated release that provides ZIP downloads for all the examples in the repository, so you don't have to use 'git clone' to get a copy of the example you are interested in. This snapshot was taken at $CI_COMMIT_TIMESTAMP.
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Clang Tidy'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=ClangTidy'
          link_type: 'package'
        - name: 'EOS Online Subsystem (C++)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=EOS_CPlusPlus'
          link_type: 'package'
        - name: 'Matchmaking (C++)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=MM_SimpleCPP'
          link_type: 'package'
        - name: 'Matchmaking (Blueprints)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=MM_SimpleBP'
          link_type: 'package'
        - name: 'Online Subsystem Blueprints (Redpoint EOS)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=OSB_RedpointEOS'
          link_type: 'package'
        - name: 'Online Subsystem Blueprints (Epic EOS)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=OSB_EpicEOS'
          link_type: 'package'
        - name: 'Online Subsystem Blueprints (Steam)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=OSB_Steam'
          link_type: 'package'
        - name: 'Online Subsystem Blueprints (Null)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=OSB_Null'
          link_type: 'package'
        - name: 'Online Subsystem Blueprints (for external login UIs)'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=OSB_LoginUI'
          link_type: 'package'
        - name: 'Game Management Framework'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=GMF'
          link_type: 'package'
        - name: 'Replicated Sublevel Instances'
          url: 'https://licensing.redpoint.games/example-download?sha=$CI_COMMIT_SHA&zip=RSI'
          link_type: 'package'

"Generate":
  stage: Generate
  needs: []
  tags:
    - redpoint-games-windows
  script: |
    git submodule update --init BuildScripts
    if ($LastExitCode -ne 0) { exit $LastExitCode }
    $Distributions_UE5 = @(
      "ClangTidy",
      "EOS_CPlusPlus",
      "GMF",
      "MM_SimpleBP",
      "MM_SimpleCPP",
      "OSB_EpicEOS",
      "OSB_LoginUI",
      "OSB_Null",
      "OSB_RedpointEOS",
      "OSB_Steam",
      "RSI"
    )
    foreach ($Dist in $Distributions_UE5) {
      .\BuildScripts\Generate.ps1 -Engine "uefs:registry.redpoint.games/redpointgames/infrastructure/unreal-engine-epic:5.1" -Distribution "$Dist" -GitLabYamlPath ".$Dist.gitlab-ci.yml" -GitLabAgentTagPrefix redpoint-games -WindowsSharedStorageAbsolutePath "$env:SHARED_STORAGE_WINDOWS_PATH" -MacSharedStorageAbsolutePath "$SHARED_STORAGE_MAC_PATH" -ExecuteTests
    }
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline"'
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  artifacts:
    paths:
      - .*.gitlab-ci.yml
  variables:
    GIT_SUBMODULE_STRATEGY: none

"ClangTidy":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .ClangTidy.gitlab-ci.yml
        job: "Generate"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "ClangTidy"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - ClangTidy/**/*

"EOS_CPlusPlus":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .EOS_CPlusPlus.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "EOS"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - EOS_CPlusPlus/**/*

"GMF":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .GMF.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "GMF"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - GMF/**/*

"MM_SimpleBP":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .MM_SimpleBP.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "MM"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - MM_SimpleBP/**/*

"MM_SimpleCPP":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .MM_SimpleCPP.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "MM"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - MM_SimpleCPP/**/*

"RSI":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .RSI.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "RSI"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - RSI/**/*

"OSB_EpicEOS":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .OSB_EpicEOS.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "OSB"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - OSB_EpicEOS/**/*

"OSB_LoginUI":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .OSB_LoginUI.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "OSB"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - OSB_LoginUI/**/*

"OSB_Null":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .OSB_Null.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "OSB"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - OSB_Null/**/*

"OSB_RedpointEOS":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .OSB_RedpointEOS.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "OSB"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "EOS"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - OSB_RedpointEOS/**/*

"OSB_Steam":
  stage: Execute
  needs:
    - "Generate"
  trigger:
    strategy: depend
    include:
      - artifact: .OSB_Steam.gitlab-ci.yml
        job: "Generate"
  variables: 
    UBT_CLANG_TIDY_EXTENSIONS: "false"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "pipeline" && $TRIGGER_TARGET == "OSB"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - OSB_Steam/**/*
