.vs/
.idea/
Binaries/
Intermediate/
Saved/
Plugins/
enc_temp_folder/
*.sln

/*.gitlab-ci.yml

/*/Build/
/*/DerivedDataCache/
/*/WindowsNoEditor/
/*/PersistentDownloadDir/
/*/CloudCache/
/*/GauntletArtifacts/
/*/Platforms/*/Build/
/*/Plugins/
/*/Output*/
/*/Output_*/
/*/Plugins/BlueprintGraphScreenshot/
/OSB_*/Source/
/OSB_*/.clang-format
!/OSB_LoginUI/Source/
!/OSB_LoginUI/.clang-format
!/OSB_EpicEOS/Source/
!/OSB_EpicEOS/.clang-format
/GMF/Source/
/GMF/.clang-format
/RSI/Content/StarterContent/
