.vs/
.idea/
Binaries/
Intermediate/
Saved/
Plugins/
enc_temp_folder/
*.sln

/*.gitlab-ci.yml

/*_*/Build/
/*_*/DerivedDataCache/
/*_*/WindowsNoEditor/
/*_*/PersistentDownloadDir/
/*_*/CloudCache/
/*_*/Platforms/*/Build/
/*_*/Plugins/
/*_*/Output*/
/*_*/Output_*/
/*_*/Plugins/BlueprintGraphScreenshot/
/OSB_*/Source/
/OSB_*/.clang-format
