.vs/
Binaries/
Intermediate/
Saved/
enc_temp_folder/
*.sln

/*.gitlab-ci.yml

/Example*/Build/
/Example*/DerivedDataCache/
/Example*/WindowsNoEditor/
/Example*/PersistentDownloadDir/
/Example*/CloudCache/
/Example*/Platforms/*/Build/
/Example*/Plugins/
/Example*/Output*/
/Example*/Output_*/
/Example*/Plugins/BlueprintGraphScreenshot/
/ExampleBP_*/Source/
/ExampleBP_*/.clang-format
